<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
  <div class="description">
    
    <p><span class="description-note">A <em>web developer</em> from Sandhurst, passionate about both front-end and back-end development. I love everything about JavaScript and currently learning <span class="lan">AngularJS</span> and <span class="lan">ReactJS</span>.
    </span></p>
  </div>

  <div class="arrow bounce">

	</div>

</header>
